<!-- Page Content -->
@using Noviembre.Core.Entidades
@model List<Paciente>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Pacientes</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Número de Seguro Social</th>
                                        <th>Acciones</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (Paciente e in Model)
                                    {
                                        <tr>
                                            <td>
                                                @e.Nombre
                                            </td>
                                            <td>
                                                @e.apellido
                                            </td>
                                            <td>
                                                @e.nss
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Registro", "Paciente", new { @id = e.Id })" class="btn btn-primary btn-circle"> <i class="fa fa-pencil"></i> Editar</a>
                                                <a class="btn btn-danger btn-circle"> <i class="fa fa-trash-o"></i> </a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <a href="@Url.Action("Registro","Paciente", new {id =0 })" class="btn btn-primary">Agregar nuevo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>